@model Present

@{
    Layout  = "_AdminLayout";
}

<form method = "post" asp-action="Change" asp-controller="Admin">

<div class = "row">
    <div class = "col-md-2">
        <label for="Id">Id</label>
    </div>
    <div class = "col-md-2">
        <label asp-for="Id"> @Model.Id </label>
    </div>
</div><br>
<div class = "row">
    <div class = "col-md-4">
        <label for="Name">Name</label>
    </div>
    <div class = "col-md-4">
        <input asp-for="Name" type="text" value="@Model.Name">
    </div>
</div>    
<div class = "row">
    <div class = "col-md-4">
        <label for="Price">Price</label>
    </div>
    <div class = "col-md-4">
        <input asp-for="Price" type="number" value="@Model.Price">
    </div>
</div>
<div class = "row">
    <div class = "col-md-4">
        <label for="Description">Description</label>
    </div>
    <div class = "col-md-4">
        <input asp-for="Description" type="text" value="@Model.Description">
    </div>
</div>
<div class = "row">
    <div class = "col-md-10">
        <input type="submit" class=" btn btn-primary" value="Change">
    </div>
</div>

</form>