@model LoginModel

@{
    Layout = null;
}

<form class ="form-signin" method="post" asp-action="Login" asp-controller ="Account" asp-anti-forgery = "true">
    <img class="mb-4" src="~/Data/img/shariki.jpg" alt="" width="72" height="72">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    <div>
        <div>
            <label class="sr-only" asp-for="Email">Email address</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Email address">
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password" class="sr-only">Password</label>
            <input type="text" asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" ></span>
        </div>
        <div>
            <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block">
        </div>
    </div>
</form>
<a asp-action="Register" asp-controller="Account" class="btn btn-lg btn-danger btn-block">Register</a>