@{
    Layout = "_UserLayout";
}

<ul>
    <li><a asp-action="GenderCatagorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Genders</a></li>
    <li><a asp-action="RoleCategorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Roles</a></li>
    <li><a asp-action="FestivalCategorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Festivals</a></li>
    <li><a asp-action="InterestCategorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Interests</a></li>
    <li><a asp-action="ProfessionCategorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Professions</a></li>
</ul>
