@{
    Layout = "_UserLayout";
}

<a asp-action="GenderCategorie" asp-controller="User" class=" btn btn-lg btn-success btn-block">Genders</a><br>
<a asp-action="RoleCategorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Roles</a><br>
<a asp-action="FestivalCategorie" asp-controller="User" class=" btn btn-lg btn-primary btn-block">Festivals</a><br>
<a asp-action="InterestCategorie" asp-controller="User" class=" btn btn-lg btn-success btn-block">Interests</a><br>
<a asp-action="ProfessionCategorie" asp-controller="User" class=" btn btn-lg btn-danger btn-block">Professions</a><br>
