@model List<Interest>

@{
    Layout = "_UserLayout";
} 

@foreach (var item in Model)
{
    <a   class=" btn btn-lg btn-success btn-block" href="~/User/InterestCategories/@item.Id">@item.Name</a>
    <br>
}